<!--
 __    ____  ___  _   _  ____
(  )  (_  _)/ __)( )_( )(_  _)
 )(__  _)(_( (_-. ) _ (   )(
(____)(____)\___/(_) (_) (__)

2015-11-15
-->

<div class="container-fluid mp0" ng-cloak ng-mouseenter="well_mouse_enter()">

    <!-- Sélecteur de période et renvoi vers le dash-board complet -->

    <div id="menu_titre" class="row mp0"> <!-- appel de la base de rechange -->

        <div class="col-sm-2 light_menu">
            <form>
                <select name="dteSelect" class="dte calendrier" ng-model="dte_select"
                        ng-click=" "
                        ng-change="
                            change_dte_select(dte_select);
                            set_cursor('dte');
                            pgs_bar2.reset(17000,'light'); "
                >
                    <option value=""> Choix période</option>
                    <option value="j"> J : dernière maj</option>
                    <option value="j-1"> J-1</option>
                    <option value="j7"> 7 jours précédents</option>
                    <option value="j30"> 30 jours précédents</option>
                    <option value="mois"> Le mois en cours</option>
                    <option value="mois-1"> Le mois précédent</option>
                    <option value="tout"> Tout</option>
                </select><br>
            </form>
            <div class="height_inter_ligne">&nbsp;</div>

            <a href="index.php?parametre={{rdio_dv}}" target="blank"> Dash-board complet</a>

        </div>

        <!-- sélecteur de dates -->

        <div class="col-sm-2 light_menu ">

            <section class="align_right line_height_2">

                <input id="ttl" class="dte" ng-model="date_0" type="date">
                <br>
            </section>
            <section class="align_right line_height_2">

                <input id="ttl2" class="dte" ng-model="date_2" type="date">
                <br>
            </section>

        </div>

        <!-- bouton MAJ-->

        <div class="col-sm-1 light_menu " class="align_left">
            <div class="height_inter_ligne">&nbsp;</div>
            <button ng-click=
                        "change_2_dates() ;
                        set_cursor('dte');
                        pgs_bar2.reset(17000,'light');"
            > Maj  </button>
        </div>

        <!-- affichage du titre-->

        <div class="col-sm-4 mp0 center_div">
            <div class="height_inter_ligne">&nbsp;</div>
            <div id="id_titre_date">
                <a href="" ng-click="change_2_dates()">
                    <h2 class="{{coul_2(100, 1000, sum_global('Marge'))}}">
                        {{dates}} [{{titre_menu_base()}}] <!-- affichage de la base -->
                    </h2>
                </a>
            </div>
        </div>


        <!-- radio base m,dv,...-->

        <div class="col-sm-3 light_menu">
            <div  class="row mp0">
                <form id="id_dv_dp" name="radio_dv_ou_dp" ng-click="change_dv(); pgs_bar2.reset(17000,'light');">
                    <div class="col-sm-6 ">
                        <input type="radio" ng-model="rdio_dv" value="v" ng-focus="set_cursor('wait'); pgs_bar2.reset(17000,'light');">dv
                        <input type="radio" ng-model="rdio_dv" value="p" ng-focus="set_cursor('wait'); pgs_bar2.reset(17000,'light');">dp<br>
                        <input type="radio" ng-model="rdio_dv" value="w" ng-focus="set_cursor('wait'); pgs_bar2.reset(17000,'light');">&nbsp;w<br>
                        <input type="radio" ng-model="rdio_dv" value="m" ng-focus="set_cursor('wait'); pgs_bar2.reset(17000,'light');">m<br />
                    </div>
                    <div class="col-sm-6 ">
                        <input type="radio" ng-model="rdio_dv" value="o" ng-focus="set_cursor('wait'); pgs_bar2.reset(17000,'light');">o<br />
                        <input type="radio" ng-model="rdio_dv" value="at" ng-focus="set_cursor('wait'); pgs_bar2.reset(17000,'light');">at
                    </div>
                </form>
            </div>
         </div>

    </div>

    <!-- ##### -->
    <!--  corps du menu  cahé ici -->
    <!-- ##### -->

    <div class="row  menu-show-hide center_div" ng-cloak ng-show="false">

        <!--chk : colonne de gauche  * -->

        <div id="id_menu_1" class="col-sm-3 mp0 center_div">

            <form ng-model="check_form" ng-cloak>

                <input type="checkbox" ng-model="chk_aff_bilan"
                       ng-mousemove="change_scope(chk_aff_bilan, 'id_bilan')"
                       ng_click = aff_bilan(chk_aff_bilan);
                       ng-focus="set_cursor('filtre')"
                > : Bilan, <br>
                <input type="checkbox" ng-model="chk_aff_gain_0"
                       ng-mousemove="change_scope(chk_aff_gain_0, 'id_gain_0')"
                > : camp. inactives,<br>

                <input type="checkbox" ng-model="chk_aff_tableau"
                       ng-mousemove="change_scope(chk_aff_tableau, 'id_tableau')"

                > : tableau,<br>
                <section ng-show ="chk_aff_bilan" class="mp0">
                    <input type="checkbox" ng-model="chk_aff_graph_lgn"
                           ng_click = "aff_graph_lgn(chk_aff_graph_lgn)";
                           ng-focus="set_cursor('filtre')"
                    > : graphe XY,
                </section>
                <input type="checkbox" ng-model="chk_aff_graph_jeux_regies"
                       ng-mousemove="change_scope(chk_aff_graph_jeux_regies, 'id_aff_graph_jeux_regies')">: jeux, regies,<br>
                <input type="checkbox" ng-model="chk_aff_graph_campagnes"
                       ng-mousemove="change_scope(chk_aff_graph_campagnes, 'id_aff_graph_campagnes')">: campagnes,<br>
                <input type="checkbox" ng-model="chk_aff_levier"
                       ng-mousemove="change_scope(chk_aff_levier, 'id_levier')"> : tri des jeux par marge <br>

            </form>
        </div>

        <!--
        ~~~~~~~~~~~_~~~~~~~~~~~_~~~~~~~~~~~_~~~~~~~~~~~
        Filtre qui traite les radios : col 2
        ~~~~~~~~~~~ _~~~~~~~~~~~_~~~~~~~~~~~_~~~~~~~~~~
        -->
        <div id="id_menu_2" class="col-sm-2 mp0">

            <input type="radio"
                   ng-model="rdio_action"
                   value="70"
                   ng-focus="set_cursor('filtre')"
                   ng-click="change_70()"
            >Top 70% <br>
            <!--
            <input type="radio"
                   ng-model="rdio_action"
                   value="-10"
                   ng-focus="set_cursor('filtre')"
                   ng-click="change_70()"
            >Marge<-10€ <br>
            -->

            <input type="radio"
                   ng-model="rdio_action"
                   value="0"
                   ng-focus="set_cursor('filtre')"
                   ng-click="change_0()"
            > Marge<0€ <br>

            <input type="radio"
                   ng-model="rdio_action"
                   value="700"
                   ng-focus="set_cursor('filtre')"
                   ng-click="change_700()"
            > Top 70 & <0<br>

            <input type="radio"
                   ng-model="rdio_action"
                   value="raz"
                   ng-focus="set_cursor('filtre')"
                   ng-click="change_raz()"
            > Raz

        </div>

        <!--
       ~~~~~~~~~~~_~~~~~~~~~~~_~~~~~~~~~~~_~~~~~~~~~~~
       Filtre suite de la précédente col : col 3
       ~~~~~~~~~~~ _~~~~~~~~~~~_~~~~~~~~~~~_~~~~~~~~~~
       -->
        <div id="id_menu_22" class="col-sm-2 mp0">

            <input type="radio" ng-model="rdio_action"
                   value="M1000"
                   ng-focus="set_cursor('filtre')"
                   ng-click="change_marge_renta()"
            >M>100 & R<2 <br>

            <!-- traitement cvr < 1 -->
            <input type="radio"
                   ng-model="rdio_action"
                   value="cvr_1"
                   ng-focus="set_cursor('filtre')"
                   ng-click="cvr_inf_1()"
            > cvr<1% <br>

            <!-- traitement cvr < 1 & cpm < 5 -->
            <input type="radio"
                   ng-model="rdio_action"
                   value="cvr_1_&_cpm_5"
                   ng-focus="set_cursor('filtre')"
                   ng-click="cvr_cpm()"
            > cvr<1 & cpm<5 <br>

            <input type="radio" ng-model="rdio_action"
                   ng-value="TjCPM5"
                   ng-focus="set_cursor('filtre')"
                   ng-click="change_tjcpm5()"
                   ng-disabled="!TJ_exists"
            >Cpm < 5 <br>
        </div>

        <!--
        ~~~~~~~~~~~_~~~~~~~~~~~_~~~~~~~~~~~_~~~~~~~~~~~
        filtre marge col 4
        ~~~~~~~~~~~_~~~~~~~~~~~_~~~~~~~~~~~_~~~~~~~~~~~
        -->

        <div class="col-sm-5 mp0" ng-cloak>

            <div class="row mp0 height_2">

                <div class="col-sm-6 mp0">

                    <form>
                        <div class="row mp0">

                            <div class="col-sm-6 mp0 align_right">
                                <label for="id_marge">Marge > </label> <br>
                                <label for="id_gain">Gain > </label> <br>
                                <label for="id_cpm">CPM < </label> <br>
                                <label for="id_renta">Renta < </label>
                            </div>

                            <div class="col-sm-6 mp0">

                                <input id="id_marge" type="number"
                                       ng-model="fMarge"
                                       ng-change="change_M()"
                                       placeholder="Sup à"
                                ><br>
                                <input id="id_gain" type="number"
                                       ng-model="fGain"
                                       ng-change="change_G()"
                                       placeholder="Sup à"
                                ><br>
                                <input id="id_cpm"
                                       type="number"
                                       placeholder="inf à"
                                       ng-model="fTjCPM"
                                       ng-change="change_T()"
                                       ng-disabled="!TJ_exists"
                                ><br>
                                <input id="id_renta"
                                       type="number"
                                       placeholder="inf à"
                                       ng-model="fRenta"
                                       ng-change="change_R()"
                                >

                            </div>
                        </div>

                    </form>
                </div>

                <!--
                ~~~~~~~~~~~_~~~~~~~~~~~_~~~~~~~~~~~_~~~~~~~~~~~
                choix dates   dernière col du menu*
                ~~~~~~~~~~~_~~~~~~~~~~~_~~~~~~~~~~~_~~~~~~~~~~
                ~-->

                <div id="id_menu_4"class="col-sm-6 mp0">

                    <!-- choix dates sélecteur  * TODO effacer le 26-07
                    <form>
                        <select name="dteSelect" class="dte calendrier" ng-model="dte_select"
                                ng-click="set_cursor('dte')"
                                ng-change="change_dte_select(dte_select)"

                        >
                            <option value=""> Choix période</option>
                            <option value="j"> J : dernière maj</option>
                            <option value="j-1"> J-1</option>
                            <option value="j7"> 7 jours précédents</option>
                            <option value="j30"> 30 jours précédents</option>
                            <option value="mois"> Le mois en cours</option>
                            <option value="mois-1"> Le mois précédent</option>
                            <option value="tout"> Tout</option>

                        </select><br>
                    </form>
                    -->
                    <!-- choix dates, manuel ¨¨ ~ ¨¨¨¨¨¨¨¨¨¨¨¨ *

                    <form>
                        <label for="ttl">
                            <button ng-click="change_D0() ; set_cursor('dte')">
                                de :
                            </button>
                        </label>
                        <input id="ttl" class="dte" ng-model="date_0" type="date">
                        <br>

                        <label for="ttl2">
                            <button ng-click="change_D2() ; set_cursor('dte')">
                                à :
                            </button>
                        </label>
                        <input id="ttl2" class="dte" ng-model="date_2" type="date">
                        <br>

                    </form>
                    -->
                </div>
            </div>
        </div>
    </div>



    <!-- ##### -->
    <!--  progress bar cachée  le show est  donné par une instance de Progress_bar    -->
    <!-- ##### -->

    <div class="row mp0" ng-show="pgs_bar2.show">
        <div id="id_progress_bar_1" class="col-sm-4 ">&nbsp;</div>

        <div id="id_progress_bar_2" class="col-sm-4 ">&nbsp;
            <div class="bar"></div>
            <br><!--<br>{{pgs_bar.pgs.toFixed()}}%-->

        </div>
        <div class="col-sm-4 mp0">&nbsp;</div>
    </div>
</div><!-- fin du menu/ fluid -->





